{% extends "layout.html" %}

{% block title %}
Home : BookReviews
{% endblock %}

{% block content %}
    <div class="container upper-margin">
        <div class="row" style="padding-top:30px;">
            <h2 style="margin-bottom:30px;"><strong>Welcome!</strong> Book Reviews</h2>
            <img style= "margin: 0 auto;border-radius: 5px; width: 100%;" src="https://www.incimages.com/uploaded_files/image/970x450/getty_549933903_2000133320009280405_105293.jpg">
        </div>
    </div>
{% endblock %}